---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import LogoStrip from '../components/LogoStrip.astro';
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import ClosingCTA from '../components/ClosingCTA.astro';
---
<Layout>
  <Nav />
  <main id="main-content">
    <Hero />
    <LogoStrip />
    <Stats />
    <Features />
    <ClosingCTA />
  </main>
</Layout>
